name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - name: Run cargo check
      run: cargo check --verbose

    - name: Run cargo test
      run: cargo test --verbose

    - name: Run cargo build
      run: cargo build --verbose
