name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Build Release
        run: cargo build --release --verbose

      - name: Generate Changelog
        uses: orhun/git-cliff-action@v2
        with:
          config: cliff.toml
          args: --verbose --latest --strip header
        env:
          OUTPUT: CHANGELOG.md

      - name: Calculate Checksum
        shell: pwsh
        run: |
          $hash = Get-FileHash target/release/ghostkeys.exe -Algorithm SHA256
          $hash.Hash | Out-File target/release/ghostkeys.exe.sha256

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/release/ghostkeys.exe
            target/release/ghostkeys.exe.sha256
          body_path: CHANGELOG.md
